// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: mentor-thin;
  src: url("../../fonts/Averta-Cyrillic-Thin.otf");
}
@font-face {
  font-family: mentor-semi-bold;
  src: url("../../fonts/Averta-Cyrillic-SemiBold.otf");
}
@font-face {
  font-family: mentor-regular;
  src: url("../../fonts/Averta-Cyrillic-Regular.otf");
}
@font-face {
  font-family: mentor-light;
  src: url("../../fonts/Averta-Cyrillic-Light.otf");
}
@font-face {
  font-family: mentor-extra-bold;
  src: url("../../fonts/Averta-Cyrillic-ExtraBold.otf");
}
@font-face {
  font-family: mentor-extra-thin;
  src: url("../../fonts/Averta-Cyrillic-Extra-Thin.otf");
}
@font-face {
  font-family: mentor-bold;
  src: url("../../fonts/Averta-Cyrillic-Bold.otf");
}
@font-face {
  font-family: mentor-black;
  src: url("../../fonts/Averta-Cyrillic-Black.otf");
}
