// ****************** Colors ******************
$color-white: #ffffff;
$color-black: #000000;

$color-1: #ffffff87;
$color-2: #05009723;
$color-3: #050097;
$color-4: rgba(5, 0, 151, 0.043);
$color-5: #690782;
$color-6: rgba(0, 0, 0, 0.08);
$color-7: rgb(2, 4, 84);
$color-8: rgba(255, 255, 255, 0.679);
$color-9: #825502;
$color-10: #051074;
$color-11: #0093e8;
$color-12: #e5e5e5;
$color-13: #4f4f4f;
$color-14: rgb(2, 4, 84);
$color-15: rgba(5, 0, 151, 0.138);

// ****************** Grids ******************
$row-width: 120rem;
